body {
    margin: 0;
    padding: 0;
    font-family: Lato;
  }
  
  .featured-items {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .featured-items__heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 48px;
  }
  
  .featured-items__h3 {
    color: #222;
    font-size: 30px;
    font-weight: 400;
  }
  
  .featured-items__text {
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
  }
  
  .card-box-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 64px;
  }
  
  .browseAllProduct {
    text-decoration: none;
    border: 1px solid #ff6a6a;
    padding: 15px 39px;
    color: #f26376;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 95px;
  }
  
  .card-box {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 360px;
    background-color: #f8f8f8;
    text-decoration: none;
  }
  
  .card-img-container {
    position: relative;
    overflow: hidden;
  }
  
  .card-img {
    width: 100%;
    height: auto;
    transition: transform 1s;
  }
  
  .card-box:hover .card-img {
    filter: brightness(0.4);
    transition: 1.5s;
  }
  
  .add-to-cart-button {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f16d7f;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    z-index: 2;
    opacity: 0;
    transition: opacity 1s, transform 1.5s;
  }
  
  .card-box:hover .add-to-cart-button {
    opacity: 1.2; 
  }
  
  .card-text {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
  }
  
  .card-title {
    padding-top: 24px;
    padding-bottom: 12px;
    color: #000000;
    font-size: 13px;
    font-weight: 400;
  }
  
  .card-description {
    padding-bottom: 18px;
    color: #5d5d5d;
    font-size: 14px;
    font-weight: 300;
    width: 314.743px;
  }
  
  .card-price {
    color: #f16d7f;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
  }
  
  .cart-items {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
  }
  
  .cart-items-title {
    margin-bottom: 64px;
    color: #222;
    font-size: 30px;
    font-weight: 400;
  }
  
  .item-container {
    display: flex;
    flex-direction: column;
    gap: 54px;
  }
  
  .item-box {
    width: 652px;
    display: flex;
    position: relative;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.12));
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .item-btn {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 28px;
    right: 20px;
    font-size: 18px;
    color: #575757;
  }
  
  .item-description {
    padding-left: 30px;
  }
  
  .item-title {
    color: #222;
    font-size: 24px;
    font-weight: 400;
  }
  
  .item-price {
    font-size: 22px;
    font-weight: 400;
  }
  
  .item-price-text {
    color: #575757;
  }
  
  .item-price-value {
    color: #ef5b70;
  }
  
  .item-color {
    font-size: 22px;
    font-weight: 400;
  }
  
  .item-color-text {
    color: #575757;
  }
  
  .item-color-value {
    color: #6f6e6e;
  }
  
  .item-size {
    font-size: 22px;
    font-weight: 400;
  }
  
  .item-size-text {
    color: #575757;
  }
  
  .item-size-value {
    color: #6f6e6e;
  }
  
  .item-quantity {
    font-size: 22px;
    font-weight: 400;
  }
  
  .item-quantity-text {
    color: #575757;
    padding-right: 24px;
  }
  
  .item-input {
    font-weight: 400;
    font-size: 18px;
    color: #656565;
    width: 36px;
    border: 1px solid #eaeaea;
  }