

.buttons {
    margin-top: 20px;
    color: aliceblue;
    background-color: coral;
    border-radius: 10px;
    border: solid 1px coral;
    &:hover {
        background-color: aliceblue;
        color: coral;
    }
}